/* 
AUTHOR - Matt Eagan
FILE - App.css
PROJECT - Lab 2
COURSE - CS-465: Full-Stack Development
INSTRUCTOR - Charles Palmer
DUE DATE - 10/14/2025  
*/

body {
  display: flex;
}

header {
  display:inline-flex;
  background-color:#233445;
  width:100%;
  height:60px;
}

img.MenuIcon {
  width:100px;
  position:relative;
}

div { /* global div stylization */
  display:block;
}

div.map { /* map div stylization */
  width:100%;
}

.leaflet-container { /* map display stylization */
  width:100%;
  height:100dvh;
  position:absolute;
    top: 0;
    left:0;
}
